.navbar{
      height: 10vh;
    background-color: rgb(0, 50, 78);
     &_container{
         padding:  0 2% ;
         width: 100%;
         display: flex;
         justify-content: space-between;
        
     }
}