.sidebar {
 
  width: 0%;

  min-height: 90vh;
  transition: 0.5s;
  overflow: hidden;
  &.active {
    width: 250px;
    padding-right: 100px;
  }

  .nav-link {
    border-radius: 0;
    white-space: nowrap;
    display: block;
    &.active{
    background-color: rgb(0, 50, 78);
      color: rgb(233, 233, 236) !important;
    }
  }
  .sidebar-icon{
    width: 20px;
    display: inline-block;
  }
  
}
 .nav{
    width: 100% !important;
    .nav-item{
    width: 100% !important;
      
    }
  }