.blog.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center center;
}
.blog.card-title{
    min-height: 3vw;
    &:hover{
        color:black !important;
    }
}
.pointer-event-none{
    pointer-events: none;
}